*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    padding: 16px 0;
    background-color: #0265c2;
    color: white;
    font-weight: bold;
}

.menu li{
    float: left;
    list-style: none;
    padding: 16px;
    position: relative;
    font-size: 20px;
}
.menu li a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.menu li a:hover{
    color: #ffd500;
}
.sobreLoja{
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 5%;
    margin-top: 50px;
}

.sobreLoja img{
    max-width: 100%;
}
.sobreLoja h2{
    padding-bottom: 20px;
    border-bottom: #0265c2 solid 2px;
    color: #0265c2;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
}

.sobreLoja p{
    padding: 40px 0;
}

.titulo{
    padding-top: 80px ;
    border-bottom: #0265c2 solid 2px;
    color: #0265c2;
    font-style: italic;
    font-weight: bold;
    

}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 22.7%);
    column-gap: 3%;
    list-style: none;
}

.produtos img{
    max-width: 100%;
    padding: 50px 0 30px;
}
.produtos h3{
    font-size: 26px;
}
.produtos h2, p{
    padding: 16px 0;
}

button {
    padding: 6px 0;
    width: 100%;
    background-color: #0265c2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #00509b;
    text-decoration: underline;
    font-weight: bolder;
}

.rodape{
    margin-top: 50px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0265c2;
    color: white;
}

@media screen and (max-width: 767px) {
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        max-width: 90%;
    }
    
    .sobreLoja{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%; 
        height: auto; 
    }
    h2{
        width: 100%;
        text-align: left;
        padding: 20px;
        font-size: 30px;
        
    }
    .sobreLoja h2{
        font-size: 30px;
    }

    .sobreLoja img {
        width: 100%; 
        height: auto; 
        margin: 56px auto; 
    }

    .sobreLoja div{
        margin: auto;
    }
    .sobreLoja p{
        padding: 40px 0;
        width: 100%;
        align-content: space-between;
        font-size: 20px;
    }
    

    .produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%; 
        height: auto;

    }

    .titulo{
        padding-top: 30px;
        font-size: 30px;
    }

    .produtos img{
        width: 100%;
        padding: 50px 0 30px;
    }
    .produtos h3{
        font-size: 30px;
    }
    .produtos  p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 18px;
        padding: 16px 0;
        font-size: 16px;
    }
    button{
        padding: 8px 0;
        width: 90%;
        background-color: #0265c2;
        color: white;
        border-radius: 6px;
        cursor: pointer;
    }
    .rodape{
        font-size: 0.75em;
    }

}

@media screen and (min-width: 641px) and (max-width: 1023px){

    .container{
        max-width: 90%;
    }
    
    .sobreLoja img {
        width: 100%; 
        height: auto; 
        display: flex; 
        flex-direction: column;
    }

    .sobreLoja{
        display: flex;
        flex-direction: column;
    }
    .sobreLoja h2{
        display: flex;
        flex-direction: column;
        font-size: 35px;
        align-items: left;
        padding: 20px 20px 20px 0;
    
    }

    .sobreLoja p{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }


    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 47%);
        list-style: none;
        max-width: 100%;
        justify-content: space-between;

    }
    
    .produtos img{
        max-width: 100%;
        padding: 50px 0 0.25rem;
        align-items: center;
    }
    .produtos h3{
        font-size: 2rem;
    }
    .titulo{
        font-size: 35px;
    }
    .produtos h2, p{
        max-width: 100%;
        padding: 16px 0;
    }
    button{
    font-size: 1.2rem;
    max-width: 100%;    
    }

    
}

